<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>

<body>
<h1 CLASS="mary">About eMOBILIS</h1>
<a href="index.html" class="jane">Home</a>
<a href="about.html" class="susan">About</a>
<a href="gallery.html" class="edna">Gallery</a>
<a href="Register.html" class="fally">Register</a>
<a href="forms.html" class="dan">login</a>
<hr class="wilberforce">
<h3 class="diana">Courses offered</h3>
<table>
    <tr>
        <th>course name</th>
        <th>course name</th>
        <th>course name</th>
    </tr>
    <tr>
        <td>web development</td>
        <td>2 months</td>
        <td>ksh. 50,0000</td>
    </tr>
    <tr>
        <td>Android</td>
        <td>1.5 months</td>
        <td>ksh. 35000</td>
    </tr>
    <tr>
        <td>cybersucirity</td>
        <td>3 months</td>
        <td>ksh 60,000</td>
    </tr>
    <tr>
        <td>Full stack development</td>
        <td>4.5 months</td>
        <td>ksh 70,000</td>
    </tr>

</table>
<h3 class="diana">Our esteemed branches</h3>
<ol class="premium">
    <li>Mombasa branch</li>
    <li>Nakuru branch</li>
    <li>Eldoret branch</li>
    <li>Nairobi branch</li>
    <li>kisumu branch</li>
</ol>




</body>
</html>