<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Home</title>
</head>
<body>
<div class="toureg">
    <div class="dell">
        <h1>Bloom</h1>
        <a class="packard" href="">Home</a>
        <a class="packard" href="">About</a>
        <a class="packard" href="">Services</a>
        <a class="packard" href="">Portfolio</a>
        <a class="packard" href="">ContactUs</a>
    </div>
    <div class="hewlet">

        <div class="rover">

        <div class="toyota">
            <h1>Lorem ipsum dolor sit annet</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur <br> culpa cumque debitis
                deleniti enim excepturi explicabo <br>facilis, laudantium maxime molestiae nemo odit, officiis quas
                quidem <br>repellat reprehenderit unde voluptate.
            </p>
            <button class="nissan">Learn More</button>
        </div>
             <img src="images/nature-3082832_1280.jpg" alt="Nature">
        </div>
    </div>

    <div class="ford">
        <h1 class="dj">This is a heading</h1>
        <div class="itel">
            <img src="images/swan-1868697_1280.jpg"/>
            <p class="tecno">
                "Lorem ipsum dolor sit amet, consectetur adipi <br>scing elit, sed do eiusmod tempor incididunt <br>ut
                labore et dolore magna aliqua.
            </p>
        </div>

        <div class="itel">
            <img src="images/man-1853545_1280.jpg"/>
            <p class="tecno">
                "Lorem ipsum dolor sit amet, consectetur adipi <br>scing elit, sed do eiusmod tempor incididunt <br>
                ut labore et dolore magna aliqua.
            </p>
        </div>

        <div class="itel">
            <img src="images/swan-1868697_1280.jpg"/>
            <p class="tecno">
               "Lorem ipsum dolor sit amet, consectetur adipi <br>scing elit, sed do eiusmod tempor incididunt <br>
                ut labore et dolore magna aliqua.
            </p>
        </div>

    </div>
    <div class="social-media-container">

        <div>
            <button class="social-media-button facebook">Facebook</button>
            <button class="social-media-button twitter">Twitter</button>
            <button class="social-media-button rss">RSS</button>
            <button class="social-media-button google-plus">Google+</button>
        </div>

    </div>
     <div class="march">
        <p>Dont be left out...follow us today.</p>
    </div>
</div>
</body>
</html>