<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cities</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<div class="console">
    <h1>cities</h1>

</div>
<div class="content">
    <div class="content-left">
        <ol>
            <li><a href="#">london</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li>
        </ol>
    </div>

    <div class="content-right">
        <h1>london</h1>
        <p>lorem ipsum dolor</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
    cupiditate harum hic ipsa labore magnam nostrum quibusdam sapiente sint. Ab animi atque aut commodi dignissimos esse illum
magni quo rerum!</p>

    </div>
</div>
<div class="footer">
    <h5>Footer</h5>
</div>



</body>
</html>