<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Divs</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<!--start of top div-->
<div class="top">

    <div class="top-left" >
        <h1>Hello one</h1>
    </div>

    <div class="top-right" >
        <h2>Hello two</h2>
    </div>
</div>

<!--end of top div-->
<!--start of middle div-->
<div class="middle">
    <div class="middle-center">
        <h1>Hello three</h1>
    </div>
    <div class="middle-right" >
        <h1>Hello four</h1>
    </div>
    <div class="middle-left">
        <h1>Hello five</h1>
    </div>
</div>
<!--end of midddle div-->
<!--start of bottom div-->
<div class="bottom">
    <div class="bottoma" ></div>
    <div class="bottomb"  ></div>
    <div class="bottomc" ></div>
    <div class="bottomd" ></div>
</div>
<!--end of bottom div-->

</body>
</html>