<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/form.css">
    <title>eMobilis Bootcamp Academy</title>
</head>
<hr class="BmW">
<body>

<h1 class="Range">STUDENT LOGIN</h1>
<h2 class="wagon" >Login here</h2>
<a href="index.html" class="jane">Home</a>
<a href="about.html" class="susan">About</a>
<a href="gallery.html" class="edna">Gallery</a>
<a href="Register.html" class="fally">Register</a>
<a href="forms.html" class="dan">Login</a>
<form action="">
    <label for="email">ENTER EMAIL</label><br><br>
    <input class="subaru" type="email"  required placeholder="">
    <br><br>
    <label for="password">ENTER PASSWORD</label>
    <br><br>
    <input class="wagon" type="password" required placeholder="">

    <h2 class="nissan">Login as:</h2>
    <input class="ford" type="radio" id="Admin">
    <label for="Admin">Admin</label><br><br>
    <input class="volkswagen" type="radio" id="User">
    <label for="User">User</label><br><br>
    <input class="mitsubishi" type="submit" id="Login" value="LOGIN">

</form>


</body>
</html>