<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<h1 class="mary">eMobilis Coding School</h1>
<a href="index.html" class="jane">Home</a>
<a href="about.html" class="susan">About</a>
<a href="gallery.html" class="edna">Gallery</a>
<a href="Register.html" class="fally">Register</a>
<a href="forms.html" class="dan">Login</a>
<hr class="edna">
<img class="pics" src="images/nature-3082832_1280.jpg" alt="nature">
<img class="pics" src="images/student-849825_1280.jpg" alt="tech world">
<img class="pics" src="images/workspace-1280538_1280.jpg" alt="into tech 23">
<img class="pics" src="images/startup-849804_1280.jpg" alt="Tech startup">
</body>
</html>