<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/h.css">
    <title>Home</title>
</head>
<body>
<div>
    <div class="dell">
        <h1>Bloom</h1>
        <a class="packard" href="">Home</a>
        <a class="packard" href="">About</a>
        <a class="packard" href="">Services</a>
        <a class="packard" href="">Portfolio</a>
        <a class="packard" href="">ContactUs</a>
    </div>
    <div class="hewlet">

        <div class="rover">

        <div class="toyota">
            <h1>Lorem ipsum dolor sit annet</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur culpa cumque debitis deleniti
                enim excepturi explicabo facilis, laudantium maxime molestiae nemo odit, officiis quas quidem repellat
                reprehenderit unde voluptate.
            </p>
            <button>Learn More</button>
        </div>
             <img src="images/nature-3082832_1280.jpg" alt="Nature">
        </div>
    </div>

    <div class="ford">
        <img src="images/swan-1868697_1280.jpg"/>
         <img src="images/man-1853545_1280.jpg"/>
        <img src="images/swan-1868697_1280.jpg"/>
    </div>
    <div class="ranger"></div>

</div>

</body>
</html>