<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<a></a>

<h1 class="mary">eMobilis Coding School</h1>
<a href="index.html"></a>
<a target="_blank" href="index.html" class="jane">Home</a>
<a target="_blank" href="about.html" class="susan">About</a>
<a target="_blank" href="gallery.html" class="edna">Gallery</a>
<a target="_blank" href="Register.html" class="fally">Register</a>
<a target="_blank" href="forms.html" class="dan">Login</a>
<hr>
<h3 class="diana">Principal's remarks</h3>
<p class="allan">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem
    beatae explicabo harum hic, ipsam magni maxime necessitatibus odio officia officiis possimus quaerat quod recusandae repellat repudiandae tempora vitae
    voluptatibus.</p>
<p class="modesta">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
    cupiditate harum hic ipsa labore magnam nostrum quibusdam sapiente sint. Ab animi atque aut commodi dignissimos esse illum
magni quo rerum!</p>
<p>
<h3 class="osoro">Deputy principal's remarks</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur culpa cumque debitis deleniti enim excepturi explicabo facilis, laudantium maxime molestiae nemo odit, officiis quas quidem repellat
    reprehenderit unde voluptate.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores assumenda beatae consequatur cumque cupiditate deleniti dignissimos ducimus enim excepturi ipsa, laborum nostrum perspiciatis placeat quam quasi rerum
    tempore veritatis!</p>
<h3>Senior master's remarks</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dignissimos maiores nisi porro. Culpa, enim eum incidunt minus nam nostrum odit rerum saepe. Dolor, illo
    nam rerum saepe sed voluptatibus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur cum dolores, enim harum illo iusto nihil nisi nulla numquam optio placeat quasi qui quo, ratione repellat
    repellendus ut voluptatibus.</p>
</body>
</html>