<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>

<h1 class="mary">eMobilis Coding School</h1>
<h2 class="allan">Register Here</h2>
<a href="index.html" class="jane">Home</a>
<a href="about.html" class="susan">About</a>
<a href="gallery.html" class="edna">Gallery</a>
<a href="Register.html" class="fally">Register</a>
<a href="forms.html" class="dan">Login</a>
<hr class="edna">
<form class="my-form" action="">
    <input class="my-input" required placeholder="Enter name" type="text"><br><br><br>
    <input class="my-input" placeholder="Enter email" type="email"><br><br><br>
    <input class="my-input" disabled placeholder="Enter Id No." type="number"><br><br><br>

    <label for="">D.O.B</label>
    <input class="my-input" placeholder="Enter Date" type="datetime-local"><br><br><br><select name="" id="">
        <option value="">select gender</option>
        <option>male</option>
        <option>female</option>
    </select>
        <input class="my-input" type="password"> <br><br><br>
        <input class="my-btn" value="Register" type="submit">
</form>

</body>
</html>